/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --montserat: 'Montserrat', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 320px;
}

/* HEADER */
.header {
  min-width: 320px;
  background-image: url(../img/bg/head-sm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  padding: 20px 0 20px;
  text-align: center;
}

.nav-btn-wrapper {
  margin-bottom: 124px;
}

.nav-btn {
  width: 90px;
  height: 36px;
  border: transparent;
  background-color: transparent;
  font-family: var(--montserat);
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.nav-btn:hover,
.nav-btn:focus {
  outline: none;
  border-radius: 18px;
  border: 2px solid rgb(255, 255, 255);
}

.site-logo {
  text-align: center;
  margin-bottom: 18px;
  font-family: var(--montserat);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

/* FIND PARTNER */
.find-partner {
  padding: 10px 0 138px;
  max-width: 510px;
}

.main-title {
  margin: 0 0 12px;
  text-align: center;
  font-family: var(--montserat);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.main-title-desc {
  margin-bottom: 14px;
  text-align: center;
  font-family: var(--roboto);
  font-size: 18px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.main-title-desc-span {
  display: block;
}

.search-link {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  font-family: var(--montserat);
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.search-link:hover,
.search-link:focus {
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 78, 80);
}

/* MAIN */
.section-partner {
  min-width: 320px;
}

.section-wrapper {
  padding: 70px 0 56px;
}

.section-partner-title {
  margin-bottom: 14px;
  text-align: center;
  font-family: var(--montserat);
  font-size: 22px;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

.partner-list {
  margin-bottom: 28px;
}

.partner-item {
  margin: 0 auto;
  width: 216px;
}

.partner-item:not(:nth-last-child(-n + 1)) {
  margin-bottom: 28px;
}

.partner-av-wrapper {
  margin: 0 auto 20px;
  width: 122px;
  height: 122px;
  position: relative;
}

.partner-av-wrapper::before {
  content: "";
  display: block;
  width: 37px;
  height: 37px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 78, 80);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.partner-item:nth-child(1) .partner-av-wrapper::before {
  background-image: url(../img/av/icons/tv.png);
  background-color: rgb(255, 78, 80);
}

.partner-item:nth-child(2) .partner-av-wrapper::before {
  background-image: url(../img/av/icons/flask.png);
  background-color: rgb(255, 165, 7);
}

.partner-item:nth-child(3) .partner-av-wrapper::before {
  background-image: url(../img/av/icons/coffe.png);
  background-color: rgb(28, 215, 173);
}

.partner-item:nth-child(4) .partner-av-wrapper::before {
  background-image: url(../img/av/icons/airplane.png);
  background-color: rgb(78, 115, 219);
}

.partner-av {
  border-radius: 50%;
}

.partner-name {
  margin-bottom: 14px;
  text-align: center;
  font-family: var(--montserat);
  font-size: 14px;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

.partner-desc {
  text-align: center;
  font-family: var(--roboto);
  font-size: 14px;
  font-weight: 300;
  color: rgb(102, 102, 102);
}

/* SECTION PARTNER BUTTON */
.other-partner-link {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid rgb(255, 78, 80);
  background-color: transparent;
  font-family: var(--montserat);
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 78, 80)
}

.other-partner-link:hover,
.other-partner-link:focus {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 78, 80);
}

@media (min-width: 768px) {
  .container {
    width: 532px;
  }

  /* HEADER */
  .header {
    background-image: url(../img/bg/head-md.jpg);
  }

  .navigation {
    margin: 0 auto;
    padding: 38px 0;
    width: 660px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .nav-btn-wrapper {
    margin-bottom: 0;
  }

  .site-logo {
    margin-bottom: 0;
  }

  /* FIND PARTNER */
  .find-partner {
    padding: 104px 0 234px;
  }

  .main-title {
    margin: 0 0 30px;
    font-size: 52px;
  }
  
  .main-title-desc {
    margin-bottom: 40px;
    font-size: 24px;
  }
  
  .main-title-desc-span {
    display: inline;
  }
  
  .search-link {
    width: 226px;
  }
  
  /* MAIN */
  .section-wrapper {
    padding: 70px 0 40px;
  }
  
  .partner-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .partner-item {
    margin: 0;
  }

  .partner-item:nth-child(2),
  .partner-item:nth-child(4) {
    order: 1;
  }

  .partner-item:not(:nth-last-child(-n + 1)) {
    margin-bottom: 0;
  }

  .partner-item:not(:nth-last-child(2n + 1)) {
    margin-bottom: 36px;
  }
  
  /* SECTION PARTNER BUTTON */
  .other-partner-link {
    width: 190px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 942px;
  }

  /* HEADER */
  .header {
    background-image: url(../img/bg/head-lg.jpg);
  }

  .navigation {
    margin: 0 auto;
    padding: 38px 0;
    width: 942px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  /* MAIN */
  .section-wrapper {
    padding: 70px 0 72px;
  }

  .section-partner-title {
    margin-bottom: 30px;
  }
}