$first-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;
$third-font: 'Kaushan Script', cursive;
$main-text-color: rgb(153, 153, 153);
$second-text-color: rgb(255, 255, 255);
$third-text-color: rgb(51, 51, 51);
$main-color: rgb(252, 227, 138);
$sacond-color: rgb(243, 129, 129);